/netbins/practice1/nbproject/private/
/netbins/practice1/build/
/netbins/project1/nbproject/private/
/netbins/project1/build/
/netbins/test/nbproject/private/
/netbins/test/build/
/netbins/test1/nbproject/private/
/netbins/test1/build/
